Options -Indexes
Options FollowSymLinks

RewriteEngine On
RewriteRule ^index$			index.php			[NC,L]
RewriteRule ^index.htm$		index.php			[NC,L]
RewriteRule ^index.html$	index.php			[NC,L]
RewriteRule ^results$		query.php			[NC,L]
RewriteRule ^settings$      settings.php        [NC,L]
RewriteRule ^save$			save.php			[NC,L]
RewriteRule ^done$			done.php			[NC,L]
RewriteRule ^noresults$		noresults.php		[NC,L]
RewriteRule ^about$			about.php			[NC,L]
RewriteRule ^international$	international.php	[NC,L]
RewriteRule ^int$			international.php	[NC,L]
RewriteRule ^international$	international.php	[NC,L]
RewriteRule ^iresults$		iquery.php			[NC,L]
RewriteRule ^national$		national.php		[NC,L]
RewriteRule ^nat$			national.php		[NC,L]