body {
  -webkit-text-size-adjust: none;
  margin: 0;
  font-family: Helvetica;
  font-size: 16px;
  color: #555;
  background-color: #FFFFFF
}

.title {
  display: inline;
  position: absolute;
  left: 10px;
}

form {
  display: inline;
  margin: -10px -10px -10px 0;
  padding: 0px;
}

body[orient="profile"] .container {
  height: 416px;
}

body[orient="landscape"] .container {
  height: 268px;
}

.toolbar {
  color: #fff;
  padding: 10px 0;
  width: 100%;
  height: 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: #003399;
}

body[orient="landscape"] .toolbar {
  font-size: 20px;
}

.anchorTop {
  top: 0;
}

.anchorBottom {
  border-top: 0px solid #3f4e63;
  padding-bottom: 0px;
  bottom: 0;
}

.center {

  position: absolute;
  top: 40px;
  bottom: 40px;
}

body[orient="landscape"] .center {
  top: 40px;
  bottom: 40px;
  width: 100%;
}

input, select, button {
  font-size: 16px;
}

a:link {
  text-decoration: none;
  color:#999999;
}

a:visited {
  text-decoration: none;
  color:#999999;
}

a:active {
  text-decoration: none;
  color:#999999;
}

a:hover {
  text-decoration: underline; 
  color:#999999;
}

.title a:link {
  text-decoration: none;
  color:#FFFFFF;
}

.title a:visited {
  text-decoration: none;
  color:#FFFFFF;
}

.title a:hover {
  text-decoration: none;
  color:#FFFFFF;
}

.title a:active {
  text-decoration: none;
  color:#FFFFFF;
}

.reset {
  font-size:14px;
  font-weight:normal;
}
  
.reset a:link {
  text-decoration: none;
  color:#FF0000;
}

.reset a:visited {
  text-decoration: none;
  color:#FF0000;
}

.reset a:hover {
  text-decoration: none;
  color:#FF0000;
}

.reset a:active {
  text-decoration: none;
  color:#FF0000;
}

.footer {
  color: #fff;
  padding: 2px 0;
  height: 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #003399;
}

.footer a:link {
  text-decoration: none;
  color:#FFFFFF;
}

.footer a:visited {
  text-decoration: none;
  color:#FFFFFF;
}

.footer a:hover {
  text-decoration: none;
  color:#FFFFFF;
}

.footer a:active {
  text-decoration: none;
  color:#FFFFFF;
}
