/* iRail by Tuinslak / yeri.be */

table {
    width: 100%;
    border-width: 0px 0px 0px 0px;
    border-spacing: 0px;
    border-style: outset outset outset outset;
    border-color: gray gray gray gray;
    border-collapse: separate;
    background-color: white;
    text-align: center;
}

div#strike {
    background-color: #FF0000;
    color: #3f4e63;
    text-align: center;
}

div#substrike {
    background-color: #FFCCCC;
    text-align: center;
    height: 2px;
}

th{
    font-size: 12px;
    font-weight: normal;
}

tr.color0{
    background-color : #EEEEEE;
}

tr.color1{
    background-color : #CCCCFF;
}

form {
    display: inline;
    margin: -10px -10px -10px 0;
    padding: 0px;
}

a:visited {
    text-decoration: none;
    color:#999999;
}

a:active {
    text-decoration: none;
    color:#999999;
}

a:hover {
    text-decoration: underline;
    color:#999999;
}

.anchorTop {
    top: 0;
}

body {
    margin: 0px;
    font-family: Helvetica;
    font-size: 16px;
    color: #555;
    background-color: #FFFFFF
}

body[orient="profile"] .container {
    height: 416px;
}

body[orient="landscape"] .container {
    height: 268px;
}

body[orient="landscape"] .toolbar {
    font-size: 20px;
}

input, select {
    font-size: 16px;
    margin-top: 15px

}