body {			
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 15px;
	padding-right: 10px;
	color:#333333;
	background: #fff;
	-webkit-text-size-adjust: none; 
	margin:0pt;
	padding:0px;
	background-color:#999;
	width: 320px;
	background-color:#ffffff;
}
 
#content {
	width: 310px;
	padding:5px;
	overflow:hidden;
	background-color:#ffffff;
}
.contentBlock {
	margin-bottom:20px;
	background-color:#f4f4f4;
	border:1px solid #333;
}
.contentTitle {
	font-size:18px;
	font-weight:bold;
	background-color:#ffa920;
	margin-bottom:4px;
	padding:4px;
}
.newsSource {
	font-size:12px;
	font-weight:bold; 
	margin-bottom:6px;
	text-align:right;
	padding:4px;
}
.contentText {
	font-size:14px;
	padding:4px;
}

ul {
	padding-left:20px; margin:0;
	margin-top:6px;
} 
li {
	padding-left:5px;
}
a {
	color:#333333;	
}