/* iRail by Tuinslak / yeri.be */

table.s {
	border: 1px outset white;
	border-collapse: collapse;
	background-color: white;
}
table.s th {
	padding: 1px;
	border: 1px inset gray;
	background-color: white;
}
table.s td {
	padding: 1px;
	border: 1px inset gray;
	background-color: white;
}
