#
# iRail.be .htaccess file
#
# by Yeri 'Tuinslak' Tiete	(yeri.be)
#
# move to the API folder 
#

Options -Indexes
Options +FollowSymLinks

# mod rewrite, I like sexy looking URLs

<IfModule mod_rewrite.c>

RewriteEngine On
RewriteBase /api

# API => domain/api
RewriteRule ^connections/$		connections.php			[NC,L]
RewriteRule ^stations/$			stations.php			[NC,L]

RewriteBase /
# API => api.domain
RewriteRule ^connections/$              connections.php                 [NC,L]
RewriteRule ^stations/$                 stations.php                    [NC,L]

</IfModule>
